body{
    background-color: #121212;
 }

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;
 }

#main{
    height: 400px;
    width: 420px;
    border: 2px solid black;
    margin: 60px 400px  0 550px;
    border-radius: 3%;
    background-color: #e5dcdc;
    border-color: lightcyan;           
 }

#main:hover{
    box-shadow:8px 8px 10px orange;
    transition-delay:1ms;
    transition-duration: 2s;
 }

h2{
    text-align: center;
    font-size: 28px;
 }

#guessField{
    height: 30px;
    width: 240px;
    margin-left: 20px;
    border-radius: 5%;
    font-size: 20px;
 }

#guessSubmit{
    height: 35px;
    width: 100px;
    border-radius: 12%;
    background-color: #007BFF;
    font-size: 16px;
    font-weight: bold;
}

#getresult{
    height: 270px;
    width: 420px;
    margin-top: 0;
    margin-left: 5px;
    font-size: 20px;          
 }

#winemoji{
    height:225px;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 50%;    
 }

#lossemoji{
    height:220px;
    margin-top: 10px;
    margin-left: 90px;
    border-radius: 50%;
 }

#new{
    text-decoration: none;
  }

@media (max-width:400px){
    h1{
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 2px;
     }
    #main{
        height: 300px;
        width: 300px;             
        margin: 10px 25px  0 25px;
        border-radius: 5%;       
     }
    h2{
        font-size: 20px;
     }
    #guessField{
        height: 20px;
        width: 200px;
        margin-left: 10px;
        border-radius: 5%;
        font-size: 16px;
     }
    #guessSubmit{
        height: 25px;
        width: 70px;
        border-radius: 5%;
        font-size: 14px;
     }
    #getresult{
        height: 220px;
        width: 290px;
        margin-top: 0;
        margin-left: 5px;
        font-size: 17px;   
        word-wrap: break-word;
        overflow-wrap: anywhere;        
     }
    #winemoji{
        height:130px;
        margin-top: 10px;
        margin-left: 70px;
        border-radius: 50%;  
     }
    #lossemoji{
        height:130px;
        margin-top: 10px;
        padding-top:10px ;
        margin-left: 40px;
        border-radius: 50%;
        position: fixed;
     }
 }